[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/bundle/start/jellybeans.vim"]
	path = vim/pack/bundle/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/pack/bundle/start/vim-quickrun"]
	path = vim/pack/bundle/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "vim/pack/bundle/start/sudo.vim"]
	path = vim/pack/bundle/start/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
