/.scripts/secrets.env
/.scripts/bitwarden.session
/local/bin
/local/share
/config/codegpt/.codegpt.yaml
/config/gcal/application_credentials.json
/config/gcal/config.toml
/config/gcal/credentials.json
/config/gcal/user_credentials.json
/config/git/config
/config/godl/config.toml
/config/ideavim/ideavimrc
/config/jnal/config.toml
/config/llmc/config.toml
/config/starship/config.toml
/config/tmpl/config.toml
/config/zsh/.chpwd-recent-dirs
/config/zsh/.zcompcache
/config/zsh/.zcompdump
/config/zsh/.zlogin
/config/zsh/.zshrc
/config/zsh/.zshrc.zwc
/config/zsh/.zsh_history
/config/zsh/.zsh_sessions
/config/zsh/functions
/config/zsh/history
/config/zsh/plugins/
/config/zsh/zshrc.gpg
/vim/.netrwhist
/vim/pack/bundle/start
*.bk
*.local
*.local.*
