/bin
/config/composer/.htaccess
/config/composer/auth.json
/config/gcal/config.toml
/config/gcal/credentials.json
/config/gh/hosts.yml
/config/gh/state.yml
/config/git/config
/config/godl/config.toml
/config/jnal/config.toml
/config/tmpl/config.toml
/config/zsh/antigen
/config/zsh/.antigen
/config/zsh/.chpwd-recent-dirs
/config/zsh/.zcompdump
/config/zsh/.zlogin
/config/zsh/.zshrc
/config/zsh/.zshrc.zwc
/config/zsh/.zsh_sessions
/config/zsh/zlogin
/config/zsh/functions
/config/zsh/history
/config/zsh/zshrc.antigen.zwc
/dotfiles/secrets.env
/vim/.netrwhist
/vim/pack/bundle/start
/secrets.env
*.local
