[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/bundle/start/vim-quickrun"]
	path = vim/pack/bundle/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "vim/pack/bundle/start/sudo.vim"]
	path = vim/pack/bundle/start/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "vim/pack/bundle/start/jellybeans.vim"]
	path = vim/pack/bundle/start/jellybeans.vim
	url = https://github.com/vim-scripts/jellybeans.vim.git
[submodule "vim/pack/bundle/start/vim-ranger"]
	path = vim/pack/bundle/start/vim-ranger
	url = git@github.com:longkey1/vim-ranger.git
