/bundle/cache
/config/diary/config.toml
/config/memo/config.toml
/config/nvim/.netrwhist
/netrc
/slack-term
/tmux/plugins/
/vim/.netrwhist
/vim/pack/bundle/start
/zsh/antigen/
/zsh/zshrc.antigen.zwc
*.local
