source_up

clear_direnv_aliases

yt-dlp() {
  docker-compose run --rm yt-dlp yt-dlp "$@"
}
export_function yt-dlp



help() {
  [[ -d .direnv/aliases ]] && ls -1 .direnv/aliases
}
export_function help
