source_up

clear_direnv_aliases

php() {
  docker-compose run --rm php php "$@"
}
export_function php

composer() {
  docker-compose run --rm php composer "$@"
}
export_function composer



help() {
  [[ -d .direnv/aliases ]] && ls -1 .direnv/aliases
}
export_function help
