source_up

clear_direnv_aliases

youtube-dl() {
  docker-compose run --rm youtube-dl youtube-dl "$@"
}
export_function youtube-dl



help() {
  [[ -d .direnv/aliases ]] && ls -1 .direnv/aliases
}
export_function help
