base_directory = "${HOME}/Documents/Journal"
file_name = "2006/2006-01-02.md"
file_template = "# 2006-01-02\n"
open_command = "${EDITOR} {{ .DayFile }}"
list_command = "lf {{ .BaseDirectory }}/"
search_command = "selected=$(pt \"{{ .Pattern }}\" \"{{ .BaseDirectory }}\" | fzf --query \"$LBUFFER\" | awk -F : '{print \"-c \" $2 \" \" $1}'); [[ -n ${selected} ]] && echo $selected || true"
