# gpg
# `gpg --list-secret-keys --keyid-format=long --with-keygrip`
GPG_KEYGRIP="gpg_keygrip"
GPG_KEYID="gpg_keyid"
# bitwarden
# https://bitwarden.com/help/personal-api-key/
BW_CLIENTID="client_id"
BW_CLIENTSECRET="client_secret"
