[core]
  editor = vim -c \"set fenc=utf-8\"
  quotepath = false
  pager = LESSCHARSET=utf-8 less
  hooksPath = ~/.config/git/hooks
[user]
  email = longkey1@gmail.com
  name = longkey1
  signingkey = ${GPG_KEYID}!
[color]
  ui = auto
[alias]
  aicommit = ! codegpt commit
  aliases = ! git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"$1\" "#"
  default = ! git remote show origin | grep 'HEAD branch' | awk '{print $NF}'
  fcommit = commit --no-verify
  fpush = push --no-verify --force-with-lease
  sync = ! git checkout $(git default) && git remote update --prune && git pull origin $(git default) --rebase && git branch --merged | grep -v $(git default) | grep -v '*' | xargs -I {} git branch -d {}
[push]
  default = nothing
[pager]
  log = LESSCHARSET=utf-8 less
  show = LESSCHARSET=utf-8 less
  diff = LESSCHARSET=utf-8 less
[commit]
  gpgsign = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[gpg]
  program = gpg
[tag]
  gpgsign = true
[include]
  path = ~/.config/git/config.local
