export GOROOT=$(godl path 1.20.)
export GOPATH=${HOME}/work
export GOBIN=${PWD}/bin
export GOCACHE=${PWD}/.cache
export GOPRIVATE=github.com/longkey1/loveroom
PATH_add ${GOROOT}/bin
PATH_add ${GOBIN}

# lroom
export GCP_SERVICE_ACCOUNT_KEY_ENCRYPT_PASSWORD=motomoto
